@import "tailwindcss";

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-0%); /* Move half, because content is duplicated */
  }
}

.animate-scroll-left {
  animation: scroll-left 12s linear infinite;
  display: flex;
  width: max-content;
  white-space: nowrap;
}

